
<section>
    <div class="container">
        <div class="col-md-6">
            <h2 class="text-center mt-4">Add Products</h2>
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control">

                <label for="">Category</label>
                <div class="row ms-auto me-auto">
                <select name="Category" id="Category" class="form-control  col-md">
                    {{#each categories}}
                    <option class="option-field" value="{{this.category}}">{{this.category}}</option>
                    {{/each}}
                </select>
                <button class="btn-success col-sm" style="cursor: pointer;" value="Wardrobe">Add Category</button>

                </div>
                <div id="parentDiv">

                </div>

                <label for="">Price</label>
                <input type="number" name="Price" class="form-control">

                <label for="">Description</label>
                <input type="text" name="Description" class="form-control">

                <label for="">Image</label>
                <input type="file" name="Image" class="form-control">

                <button type="submit" class="btn btn-success mt-4" style="width: 120px;">Submit</button>
               
            </form>
        </div>
    </div>
</section>

<script>

    const Ctgry = document.querySelector('button[value=Wardrobe]')
    //const inputField = document.querySelector('input[name=Category]')
    const firstinputField = document.querySelector('#Category')
    const parentDiv = document.querySelector('#parentDiv')
    
    
    Ctgry.addEventListener('click',addCategory);

    function addCategory(event) {
            event.preventDefault();
            console.log('button clicked')
            var newField = document.createElement('input');
            newField.setAttribute('type','text');
            newField.setAttribute('name','Category');
            newField.setAttribute('class','form-control');
            newField.setAttribute('id','form_control');
            //var input_tag = document.querySelector('input').innerHTML.length
            parentDiv.appendChild(newField);
            
            //inputField.classList.remove("hide-field")
            firstinputField.value = "";

        /*fetch('http://localhost:3000/admin/add-category',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(inputField.value)
        }) */
    }
</script>